* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 12px;
  color: black;
  min-height: 100%;
  width: 100%;
  background: black;
}
h1 {
  font-size: 2rem;
}
.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(235, 235, 235, 1.0);
}
.grey-container {
  padding: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  min-height: calc(100vh - 4rem - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-container {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-size: 1rem;
  color: rgba(149, 149, 149, 1.0);
  border-radius: 0.25rem;
  height: 80%;
  flex-grow: 1;
}
#input-container {
  padding: 2rem;
}
.input-section {
  margin-top: 2rem;
}
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
input:focus {
  outline: none;
  border-color: #007bff;
}
.primary-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.primary-button:hover {
  background: #0056b3;
}
.reset-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.header {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: medium;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.footer {
  font-size: 0.75rem;
  font-family: monospace;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: oklch(70.7% 0.022 261.325);
}
#qr-container {
  display: none;
  width: 100%;
  min-height: 100vh;
}
#qr-code {
  width: 100%;
  max-width: 180px;
  height: auto;
}
.progress-container {
  width: 100%;
  height: 1px;
  background: rgba(235, 235, 235, 1.0);
}
.progress-bar {
  height: 100%;
  background: black;
  width: 100%;
  animation: countdown 15s linear;
}
@keyframes countdown {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
